<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AdminLTE 3 | Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fonts/source-sans-pro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/adminlte/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {% include 'partials/navbar.html' %}
    {% include 'partials/sidebar.html' %}
    
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{% block page_title %}Dashboard{% endblock %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {% block breadcrumbs %}
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                            {% endblock %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="content">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    
    <footer class="main-footer">
        <strong>Copyright &copy; 2024 <a href="#">AdminLTE Dashboard</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.2.0
        </div>
    </footer>
</div>

<script src="{{ url_for('static', filename='vendors/jquery/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/adminlte/adminlte.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/chartjs/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/advanced-table.js') }}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>